/* Aucune bordure */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Police d'écriture */
@font-face {
    font-family: 'Roboto';
    src : url('../fonts/Roboto.ttf') format('truetype');
}

body {
    background-color: #143058;
    color: white;
}

/* Barre de navigation */
nav 
{
    width: 100%;
    height: 100px;
    background: #143058;
}

nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Liens des pages */
nav .main_pages a 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-size: 32px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

/* Change la couleur du bouton au survol */
nav a:hover 
{
    background: #3a5693;
}

/* Cache le bouton hamburger sur la version de bureau*/
nav label, #toggle
{
    display: none;
}

/* Logo du site */
.logo {
    height: 100px;
    margin-left: 10px;
}

/* En-tête */
header {
    display: flex;
    align-items: center;
}

.user-control {
    display: flex;
    width: 100%;
    background: #143058;
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    height: 20px;
    justify-content: end;
}

.logout {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.logout:link {
    text-decoration: underline;
}

a:link, a:visited {
    color: white;
}

/* Responsive pour la version mobile */
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
        z-index: 2;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #1b2f62;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 100%;
    }
 
    nav label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;
        cursor: pointer;
        margin-left: 15px;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }

    .logo {
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0px;
    }

    header {
        flex-direction: column;
    }
}